<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SportHab</title>
    
    <link rel="stylesheet" href="{% static 'sportpredictor/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'sportpredictor/assets/css/styles.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus&amp;display=swap">
</head>

<body class="d-flex align-items-start">
    <div class="d-inline-block side_pics" style="width: 15%;background: url({% static 'sportpredictor/img/'|add:param|add:'/2.png' %});background-size: contain;"></div>
    <div class="d-inline-block" style="width: 70%;margin: auto;">
        <div class="container" style="margin: 0 auto;">
            <div class="row">
                <div class="col text-center"><img src="{% static 'sportpredictor/img/SportHab.png' %}" style="width: 100px;"></div>
            </div>
        </div>
        <div class="container" style="text-align: center;">
            <h3 style="color: #51ABE3;">Test {{num}} of 12</h3>
            <h4 style="color: #51ABE3;">{{param}}</h4>
        </div>
        <div class="container" style="text-align: center;"><img src="{% static 'sportpredictor/img/'|add:param|add:'/1.png' %}" style="height: 30vh;"></div>
        <div class="container" style="text-align: center;">
            <form action="" method="post" class="form">
                {% csrf_token %}
            {% for field in form %}
                <div class="row" style="margin: 3px auto;">
                    <div class="col"><input type="number" step="0.01" name="{{field.name}}"  placeholder="{{field.name}}" style="background: #51ABE3;border-radius: 25px;border-width: 0px;height: 5vh;text-align: center;"></div>
                </div>
            
            {% endfor %}
            <div class="row" style="margin: 3px auto;">
                <div class="col"><button class="btn btn-primary" type="submit" style="border-radius: 25px;width: 50vw;max-width: 200px;">Next</button></div>
            </div>
            </form>
        </div>
    </div>
    <div class="d-flex d-xl-flex align-items-end align-items-xl-end side_pics" style="width: 15%;background: url({% static 'sportpredictor/img/'|add:param|add:'/3.png' %});background-size: contain;"></div>
    <script src="{% static 'sportpredictor/assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>